/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.text {
  font-family: PT Sans, sans-serif;
}

a {
  outline: none;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.navbar {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.9)), to(rgba(200, 200, 200, 0.4)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(200, 200, 200, 0.4));
  -webkit-box-shadow: #44315D 0.1rem 0.1rem 0.5rem;
          box-shadow: #44315D 0.1rem 0.1rem 0.5rem;
}

/* FOOTER */
footer {
  background-color: #44315D;
  background-image: url(../images/scotland.jpg);
  background-position: bottom;
  color: ghostwhite;
  margin-top: 10rem;
  width: 100vw;
}

footer .footer__logoChico {
  color: white;
  font-family: Sacramento, PT Sans, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 1rem 0 0 1rem;
}

footer .footer__navbar {
  margin: 1rem 0 1rem 1rem;
  line-height: 1.4rem;
  display: inline-block;
}

.footer__navbar .footer__list .footer__list-item:hover, .prices__link--hover:hover, .mainContent__link--hover:hover {
  color: #d58f3f;
}

/********************************** BIGGER SCREEN **********************************/
@media screen and (min-width: 768px) {
  .banner__text {
    margin-top: 1rem;
    font-size: 700%;
  }
  .levelForm__fieldset {
    width: 60%;
  }
}

/**************************** INDEX ****************************/
.index__body {
  background-image: url("../images/ireland.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-brand {
  font-family: Sacramento, PT Sans, sans-serif;
  font-weight: 500;
  font-size: xx-large;
}

/* BANNER */
.banner {
  margin-top: 6rem;
}

.banner .banner__text {
  font-size: 5rem;
  line-height: 7rem;
  font-weight: 500;
  color: white;
  text-shadow: #44315D 0 6rem 0.8rem;
}

.banner .banner__longertext {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 2%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2rem;
  margin-top: 10rem;
}

.banner .banner__longertext .banner__p {
  font-size: large;
}

.banner .banner__longertext .index__button {
  font-size: 140%;
  background-color: #692dad;
  border: none;
}

.banner .banner__longertext .index__button:hover {
  font-size: 150%;
  background-color: #450391;
  border: none;
}

.video-section {
  margin-top: 10rem;
}

.video-section .video__title {
  color: #ffffff;
  font-weight: 700;
  font-size: xx-large;
  width: 100vw;
  border-top: white solid 0.5rem;
  border-bottom: white solid 0.5rem;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(midnightblue), color-stop(50%, midnightblue), color-stop(50%, white));
  background: linear-gradient(to right, midnightblue, midnightblue 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-transition: background-position 1s ease;
  transition: background-position 1s ease;
}

.video-section .video__title:hover {
  background-position: 0 100%;
}

.video-section video {
  border-radius: 1%;
}

/******************* ABOUT LEAN *******************/
.about__body {
  background-image: url("../images/england.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainContent {
  margin-top: 8rem;
}

.mainContent .mainContent__text--frame {
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(rgba(35, 221, 235, 0.6)), to(rgba(145, 59, 202, 0.6)));
  background: linear-gradient(to right, rgba(35, 221, 235, 0.6), rgba(145, 59, 202, 0.6));
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2rem;
  border-radius: 1%;
  text-align: justify;
}

.mainContent .pics {
  margin: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainContent #pic1 {
  width: 15rem;
  height: 8rem;
  margin: 1rem;
  border: white solid 2px;
}

.mainContent #pic2 {
  width: 15rem;
  height: 8rem;
  margin: 1rem;
  border: white solid 2px;
}

.mainContent #pic3 {
  width: 15rem;
  height: 8rem;
  margin: 1rem;
  border: white solid 2px;
}

/******************* LEVEL *******************/
.level__body {
  background-image: url("../images/hebrides.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.levelForm__fieldset {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 2%;
  background: linear-gradient(45deg, rgba(222, 235, 35, 0.8), rgba(59, 150, 202, 0.8));
  padding: 1rem;
}

.levelForm__innerfield {
  margin: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.levelForm__legend {
  font-size: 120%;
  -webkit-box-shadow: 0.2rem 0.2rem 0.2rem #624466;
          box-shadow: 0.2rem 0.2rem 0.2rem #624466;
  background-color: white;
  border-radius: 10px;
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  width: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.levelForm__checkbox {
  padding-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.levelForm__checkboxText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 0.2rem;
          column-gap: 0.2rem;
}

.levelForm__botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 2.5rem;
          column-gap: 2.5rem;
  font-size: large;
  border: none;
  padding: 1rem;
}

.levelForm__submit {
  background-color: #3b96ca;
  color: #ffffff;
  width: 4rem;
  height: 2rem;
  line-height: normal;
}

.levelForm__reset {
  background-color: #ffffff;
  color: #3b96ca;
  width: 4rem;
  height: 2rem;
  line-height: normal;
}

/******************* PRICING *******************/
.pricing__body {
  background-image: url("../images/wales.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.price-table {
  margin-top: 5.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: black;
  text-align: center;
  padding: 0rem;
}

.price-table th, .price-table .price-table__title {
  text-shadow: #44315D 1px 1px 1px;
}

.price-table .price-table__text {
  padding: 0.5rem;
}

.price-table .price-table__tbody1 {
  background: #b39090;
}

.price-table .price-table__tbody2 {
  background: #c5849f;
}

.price-table .price-table__tbody3 {
  background: #ca5dd8;
}

.price-table .price-table__tbody4 {
  background: #913bca;
}

.price-table .price-table__tbody5 {
  background: #552ce7;
}

.price-table td {
  padding: 0 10px 0 10px;
}

.price-table td .price-table__number {
  text-align: right;
  width: 9rem;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}

.price-table .price-table__link--hover:hover {
  color: #c5849f;
}

/******************* CONTACT *******************/
.contact__body {
  background-image: url("../images/yellowstone.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainContent-contact {
  margin-top: 6rem;
}

.mainContent-contact form {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1rem;
  margin-bottom: 5rem;
}

.mainContent-contact form .form__fieldset {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 2%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(35, 221, 235, 0.6)), to(rgba(145, 59, 202, 0.6)));
  background: linear-gradient(to right, rgba(35, 221, 235, 0.6), rgba(145, 59, 202, 0.6));
  padding: 1rem;
}

.mainContent-contact form .form__fieldset .form__innerfield {
  margin: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainContent-contact form .form__fieldset .form__innerfield .label {
  font-size: 90%;
}

.mainContent-contact form .form__fieldset .form__innerfield .form__checkbox {
  padding-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainContent-contact form .form__fieldset .form__innerfield .form__checkbox .form__checkboxText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 0.2rem;
          column-gap: 0.2rem;
}

.mainContent-contact form .form__botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 2.5rem;
          column-gap: 2.5rem;
  font-size: large;
  border: none;
  padding: 1rem;
}

.mainContent-contact form .form__botones .form__reset {
  background-color: white;
  color: #692dad;
  width: 4rem;
  height: 2rem;
  line-height: normal;
}

.mainContent-contact form .form__botones .form__submit {
  background-color: #692dad;
  color: white;
  width: 4rem;
  height: 2rem;
  line-height: normal;
}

legend {
  margin-left: 0.2rem;
  font-weight: 600;
  font-size: 120%;
  -webkit-box-shadow: 0.2rem 0.2rem 0.2rem #624466;
          box-shadow: 0.2rem 0.2rem 0.2rem #624466;
  background-color: white;
  border-radius: 10px;
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  width: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.siteMap__body {
  background-image: url("../images/newzealand.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.map {
  margin-top: 10rem;
}

.map .map__linkset {
  margin-top: 2rem;
}

.map .map__linkset .map__links:hover {
  overflow: hidden;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, black));
  background: linear-gradient(to left, black 50% #faf8fa 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 200%;
  background-position: 100%;
  -webkit-transition: background-position 700ms ease;
  transition: background-position 700ms ease;
}
/*# sourceMappingURL=styles.css.map */