/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.text {
  font-family: PT Sans, sans-serif;
}

a {
  outline: none;
  text-decoration: none;
  color: white;
}

a:hover {
  color: #e329fc;
}

ul, ol {
  list-style: none;
}

.navbar {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.9)), to(rgba(200, 200, 200, 0.4)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(200, 200, 200, 0.4));
  -webkit-box-shadow: #44315D 0.1rem 0.1rem 0.5rem;
          box-shadow: #44315D 0.1rem 0.1rem 0.5rem;
}

/********* FORM *********/
.form {
  margin-top: 8rem;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1rem;
  margin-bottom: 5rem;
}

.form__title {
  text-shadow: #44315D 1px 1px 1px;
  color: white;
  padding: 0.5rem;
  text-align: center;
  font-size: 3rem;
}

.form__fieldset {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 1rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(35, 221, 235, 0.6)), to(rgba(145, 59, 202, 0.6)));
  background: linear-gradient(to right, rgba(35, 221, 235, 0.6), rgba(145, 59, 202, 0.6));
  padding: 1rem;
}

.form__fieldset__legend {
  margin-left: 0.2rem;
  font-weight: 600;
  font-size: 120%;
  -webkit-box-shadow: 0.2rem 0.2rem 0.2rem #624466;
          box-shadow: 0.2rem 0.2rem 0.2rem #624466;
  background-color: white;
  border-radius: 1rem;
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  width: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__fieldset__innerfield {
  margin: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__fieldset__innerfield__label {
  font-size: 90%;
}

.form__fieldset__checkbox {
  padding-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__fieldset__checkboxcheckboxText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 0.2rem;
          column-gap: 0.2rem;
}

.form__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 2.5rem;
          column-gap: 2.5rem;
  font-size: large;
  border: none;
  padding: 1rem;
}

.form__buttons__submit {
  background-color: #692dad;
  color: white;
  width: 4rem;
  height: 2rem;
  line-height: normal;
}

.form__buttons__reset {
  background-color: white;
  color: #692dad;
  width: 4rem;
  height: 2rem;
  line-height: normal;
}

/* FOOTER */
.footer {
  background-color: #44315D;
  background-image: url(../images/scotland.jpg);
  background-position: bottom;
  color: ghostwhite;
  margin-top: 3rem;
}

.footer__logoChico {
  color: white;
  font-family: Sacramento, PT Sans, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 1rem 0 0 1rem;
}

.footer__navbar {
  margin: 1rem 0 1rem 0rem;
  line-height: 1.4rem;
  display: inline-block;
}

.footer__list-item {
  color: white;
}

.footer__iconos {
  margin-top: 1rem;
}

.footer__icon {
  padding: 0 0.5rem 0 0.5rem;
}

/********************************** BIGGER SCREEN **********************************/
@media screen and (min-width: 768px) {
  .banner__text {
    margin-top: 1rem;
    font-size: 700%;
  }
  .levelForm__fieldset {
    width: 60%;
  }
}

/**************************** INDEX ****************************/
.index__body {
  background-image: url("../images/ireland.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-brand {
  font-family: Sacramento, PT Sans, sans-serif;
  font-weight: 500;
  font-size: xx-large;
}

/* BANNER */
.banner {
  margin-top: 8rem;
}

.banner__text {
  font-size: 5rem;
  line-height: 7rem;
  font-weight: 500;
  color: white;
  text-shadow: #44315D 0 6rem 0.8rem;
}

.banner__longertext {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 1rem;
  width: 25rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2rem;
  margin-top: 7rem;
}

.banner__longertext .banner__p {
  font-size: large;
}

.banner__longertext .index__button {
  font-size: 140%;
  background-color: #692dad;
  border: none;
}

.banner__longertext .index__button:hover {
  font-size: 150%;
  background-color: #450391;
  border: none;
}

.video-section {
  margin-top: 5rem;
}

.video-section .video__title {
  color: #ffffff;
  font-weight: 600;
  font-size: 3.33rem;
  width: 100vw;
  border-top: white solid 0.5rem;
  border-bottom: white solid 0.5rem;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #450391), color-stop(50%, white));
  background: linear-gradient(to right, #450391 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-transition: background-position 1s ease;
  transition: background-position 1s ease;
}

.video-section .video__title:hover {
  background-position: 0 100%;
}

.video-section video {
  border-radius: 1%;
}

.qualities {
  margin: 5rem 0 5rem 0;
}

.qualities__chart {
  padding: 1.5rem;
  width: 22rem;
  height: 8rem;
  background: -webkit-gradient(linear, left top, right top, from(#23ddeb), to(#913bca));
  background: linear-gradient(to right, #23ddeb, #913bca);
  text-shadow: #44315D 0.1rem 0.1rem 0.5rem;
  margin: 1rem;
  border-radius: 1rem;
  text-align: center;
}

.qualities__chart h2 {
  font-size: 2rem;
}

.qualities__chart:hover {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  width: 25.3rem;
  height: 9.2rem;
}

.index__table-title {
  padding: 0.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 5px;
}

/********************************** BIGGER SCREEN **********************************/
@media screen and (min-width: 768px) {
  .index-table {
    width: 45rem;
  }
  .banner__longertext {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 1rem;
    width: 50rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 2rem;
    margin-top: 6rem;
  }
}

/******************* ABOUT LEAN *******************/
.about__body {
  background-image: url("../images/england.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainContent {
  margin-top: 8rem;
}

.mainContent__text--frame {
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(rgba(35, 221, 235, 0.6)), to(rgba(145, 59, 202, 0.6)));
  background: linear-gradient(to right, rgba(35, 221, 235, 0.6), rgba(145, 59, 202, 0.6));
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2rem;
  border-radius: 1rem;
  text-align: justify;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.mainContent .pics {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainContent #pic1 {
  width: 15rem;
  height: 9rem;
  margin: 1rem;
  border: white solid 2px;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
}

.mainContent #pic1:hover {
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  width: 22.5rem;
  height: 13.5rem;
}

.mainContent #pic2 {
  width: 15rem;
  height: 9rem;
  margin: 1rem;
  border: white solid 2px;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
  margin-left: 1rem;
}

.mainContent #pic2:hover {
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  width: 22.5rem;
  height: 13.5rem;
}

.mainContent #pic3 {
  width: 15rem;
  height: 9rem;
  margin: 1rem;
  border: white solid 2px;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
}

.mainContent #pic3:hover {
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  width: 22.5rem;
  height: 13.5rem;
}

/******************* LEVEL *******************/
.level__body {
  background-image: url("../images/hebrides.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#results {
  background: -webkit-gradient(linear, left top, right top, from(#23ddeb), to(#913bca));
  background: linear-gradient(to right, #23ddeb, #913bca);
  border-radius: 1rem;
  color: white;
}

#results h2 {
  padding: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/******************* PRICING *******************/
.pricing__body {
  background-image: url("../images/wales.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.price-table {
  margin-top: 8rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: black;
  text-align: center;
  padding: 0rem;
}

.price-table__title {
  text-shadow: #44315D 1px 1px 1px;
  color: white;
  padding: 0.5rem;
  text-align: center;
  font-size: 3rem;
}

.price-table__pretable {
  line-height: 1rem;
  padding: 2rem;
  font-size: large;
  font-style: italic;
  font-weight: bold;
}

.price-table__text {
  color: white;
}

.price-table__tbody {
  background: -webkit-gradient(linear, left top, right top, from(rgba(35, 221, 235, 0.6)), to(rgba(145, 59, 202, 0.6)));
  background: linear-gradient(to right, rgba(35, 221, 235, 0.6), rgba(145, 59, 202, 0.6));
  border-bottom: #3f3f3f 1px solid;
}

.price-table__link--hover:hover {
  color: #c5849f;
}

.price-table th {
  text-shadow: #44315D 1px 1px 1px;
  font-size: x-large;
}

.price-table td {
  padding: 0.25rem 1rem 0.25rem 1rem;
}

.price-table td .price-table__number {
  text-align: right;
  width: 9rem;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}

/******************* CONTACT *******************/
.contact__body {
  background-image: url("../images/yellowstone.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.siteMap__body {
  background-image: url("../images/newzealand.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.map {
  margin-top: 10rem;
}

.map__title {
  text-shadow: #44315D 1px 1px 1px;
  color: white;
  padding: 0.5rem;
  text-align: center;
  font-size: 3rem;
}

.map .map__linkset {
  margin-top: 2rem;
}

.map .map__linkset__links {
  text-shadow: #44315D 1px 1px 1px;
}

.map .map__linkset__links:hover {
  border-bottom: #44315D 5px solid;
}

.error__body {
  background-image: url("../images/errorMap.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.error__main {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.error__main__img {
  color: white;
}

.error__main__title {
  text-shadow: #44315D 1px 1px 1px;
  color: white;
  padding: 0.5rem;
  text-align: center;
  font-size: 3rem;
  font-size: 3.5rem;
}

.error__main__separator {
  background-color: white;
  height: 5px;
  width: 100px;
  margin-bottom: 1rem;
}

.error__main__subtitle {
  color: white;
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  .error__body {
    background-image: url("../images/errorMap.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .error__main {
    margin-top: 4rem;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .error__main__img {
    color: white;
  }
  .error__main__title {
    text-shadow: #44315D 1px 1px 1px;
    color: white;
    padding: 0.5rem;
    text-align: center;
    font-size: 3rem;
    font-size: 5rem;
  }
  .error__main__subtitle {
    color: white;
    font-size: 3rem;
    text-align: center;
  }
  .error__main__icons {
    margin-top: 3rem;
  }
}
/*# sourceMappingURL=styles.css.map */