/******************* ABOUT LEAN *******************/

@mixin about-images{
    $pic-width: 15rem;
    $pic-height: 9rem;
    width: $pic-width;
    height: $pic-height;
    margin: 1rem;
    border: white solid 2px;
    transition-timing-function: ease-in-out;
    transition-delay: 500ms;

    &:hover{
        transition-duration: 2s;
        width: $pic-width*1.5;
        height: $pic-height*1.5;
    }
}

.about__body{
    @include body("../images/england.jpg");
}

.mainContent{
    margin-top: 8rem;
    margin-bottom: 5rem;

    &__text--frame{
        color: white;
        background: linear-gradient(to right, rgba(35, 221, 235, .6), rgba(145, 59, 202, .6));
        background-color: rgba(0,0,0,.8);
        padding: 2rem;
        border-radius: 1rem;
        text-align: justify;
        height: fit-content;
    }

    .pics{
        justify-content: space-between;
    }
    
    #pic1{
        @include about-images();
    }
    
    #pic2{
        @include about-images();
        margin-left: 1rem;
    }
    
    #pic3{
        @include about-images();
    }
}

.card{
    margin: 0.5rem;
    width: 18rem;

    &__btn{
        width: 100%;
        height: fit-content;
        color: white;
        font-weight: bolder;
        background-color: rgb(145, 59, 202);
    }

    &__text-justify{
        text-align: justify;
        font-size: 0.9rem;
        /*height: 13rem;*/
        align-self: center;
        margin: 2rem 0 2rem 0;
    }
}

@media screen and (min-width: 768px){

    .card__text-justify{
        height: 15rem;
        margin: 1rem 0 1rem 0;
    }
}