/******************* LEVEL *******************/

.level__body{
    @include body("../images/hebrides.jpg");
}

#results-content{
    color: white;
    background: linear-gradient(to right, #24ddeb, #913bca);
    box-shadow: 0.2rem 0.2rem 0.2rem #7f5585;
    border-radius: 1rem;
    padding: 0.5rem;

    & h3, & h5{
        flex-wrap: wrap;
        padding: 0.5rem;
    }
}