/******************* ABOUT LEAN *******************/

@mixin about-images{
    width: 15rem;
    height: 8rem;
    margin: 1rem;
    border: white solid 2px;
}

.about__body{
    @include body("../images/england.jpg");
}

.mainContent{
    margin-top: 8rem;

    .mainContent__text--frame{
        color: white;
        background: linear-gradient(to right, rgba(35, 221, 235, .6), rgba(145, 59, 202, .6));
        background-color: rgba(0,0,0,.8);
        padding: 2rem;
        border-radius: 1%;
        text-align: justify;
    }

    .pics{
        margin: 2rem;
        justify-content: space-between;
    }
    
    #pic1{
        @include about-images();
    }
    
    #pic2{
        @include about-images();
    }
    
    #pic3{
        @include about-images();
    }
}


