/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');


@mixin body($pic-path) {
    background-image: url($pic-path);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text{
    font-family: PT Sans, sans-serif;
}

a{
    outline: none;
    text-decoration: none; 
}

ul, ol{
    list-style: none;
}

.navbar{
    background: linear-gradient(to right, rgba(255,255,255,.9), rgba(200,200,200,.4));
    box-shadow: #44315D 0.1rem 0.1rem 0.5rem;
}


/* FOOTER */

footer{
    background-color: #44315D;
    background-image: url(../images/scotland.jpg);
    background-position: bottom;
    color: ghostwhite;
    margin-top: 10rem;
    width: 100vw;


    .footer__logoChico{
        color: white;
        font-family: Sacramento, PT Sans, sans-serif;
        font-weight: 400;
        font-size: 1.5rem;
        width: fit-content;
        height: fit-content;
        margin: 1rem 0 0 1rem;
    }

    .footer__navbar{
        margin: 1rem 0 1rem 1rem;
        line-height: 1.4rem;
        display: inline-block;
    }

}

    .footer__navbar .footer__list .footer__list-item:hover, .prices__link--hover:hover, .mainContent__link--hover:hover{
        color: #d58f3f;
    }


/********************************** BIGGER SCREEN **********************************/

@media screen and (min-width: 768px) {
    .banner__text{
        margin-top: 1rem;
        font-size: 700%;
    }
    
    .levelForm__fieldset{
        width: 60%;
    }

}