
/******************* PRICING *******************/

.pricing__body{
    @include body("../images/wales.jpg");
}

.price-table{
    margin-top: 5.5rem;
    width: fit-content;
    height: fit-content;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 0rem;


    th, .price-table__title{
        text-shadow:#44315D 1px 1px 1px;
    }

    .price-table__text{
        padding: 0.5rem;
    }

    .price-table__tbody1{
        background: rgb(179, 144, 144);
    }
    .price-table__tbody2{
        background: rgb(197, 132, 159);
    }
    .price-table__tbody3{
        background: rgb(202, 93, 216);
    }
    .price-table__tbody4{
        background: rgb(145, 59, 202);
    }
    .price-table__tbody5{
        background: rgb(85, 44, 231);
    }

    td{
        padding: 0 10px 0 10px;

        .price-table__number{
            text-align: right;
            width: 9rem;
            padding: 0.2rem 0.5rem 0.2rem 0.5rem;
        }
    }
    
    .price-table__link--hover:hover{
        color: rgb(197, 132, 159);
    }
}